body{
    background-color: black;
    margin: 0px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 190px;
    height: 100vh;
   

}

.container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
   
}


.right-img{
    align-self: flex-end;
    height: 100%;
}

.left-img{
    height: 100%;
}

h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #E8A0BF;
    font-size: 3rem;
   
}


.box{
    border: 2px solid #E8A0BF;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.your-name{
    margin-top: 20px;
    margin-bottom: 20px;
}

.their-name{
    margin-bottom: 20px;
}

.btn{
    border: 2px solid #E8A0BF;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #E8A0BF;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    cursor: pointer;
    font-size: 17px;
    
}
.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


h2{
    color: #E8A0BF;
}

#kissing-heart{
    display:none;
}


footer{
    color: #E8A0BF;
    margin-top: 50px;
    margin-left: 50px;
}

@media (max-width: 480px){

    .container{
        display: flex;
        height: 100vh;
        align-items: center;
        padding-top: 50px;
    }

    #kissing-heart{
        display: flex;
        height: 40vh;
        justify-content: center;
       
    }
    .love-tree{
        display: none;
    }

    h2{
        text-align: center;
    }
    
    footer{
        margin-left: 100px;
    }
   
}

